POSTGRES_DB=exchange
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret_password

APP_ENV="DEVELOPMENT"
APP_LOG_LEVEL=INFO

DJANGO_SECRET_KEY=secret_django_key
DATABASE_NAME=exchange
DATABASE_USER=postgres
DATABASE_PASSWORD=secret_password
DATABASE_HOST=db
DATABASE_PORT=5432

BINANCE_BUY_CURRENCY_API=an_api_address
BINANCE_API_KEY=strong_key